h1 {
text-align: center;
margin-top: 100%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: coral;

}

h3 {

    text-align: center;
    margin-top: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(197, 81, 39);
    
}