* {
    margin: 0;
    padding: 0;
    
    
}

a:link { 
    text-decoration:none; 
} 

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 20vh 60vh 5vh;

}

header {
    display: grid;
    background-color:#202020;

}

.icone-e-texto {
    display: flex;
    background-color: #202020;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px; 
    padding: 0 20px;
}

 #logo {
    width: 11vh;
    margin: 30px;
    
}

#pesquisa {
    padding: 10px;
    font-size: 30px;
    border-color: #000000;
    background-color: #000000;
    color: #ffffff;
    border-style: solid;
    border-radius: 30px;
    justify-content: center;
    
}

aside {
    background-color: blue;
    text-align: center;
    justify-content: center;
    
}

aside2 {
    background-color: #202020;
    text-align: center;

}
aside2 a > img {

    width: 100px;
}

.boxVideo > iframe {
    width: 100%;
    position: relative;
}

main {
    background-color:#202020;
}
.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25vh 25vh;
    height: 30px;
    margin-top: 120px;
    text-align: center;
    align-items: center;
}

h3 {
   color: white;
   text-decoration: none; 
   text-decoration-style: none; 
   text-align: center; 
   margin-top: 15px;
} 

#irlanda, #vermelhos, #tinta, #praia, #nebli, #coelho, #cosmos, #foguete {
    width: 290px;
    text-decoration: none;
} 

#irlanda:hover, #vermelhos:hover, #tinta:hover, #praia:hover, #nebli:hover, #coelho:hover, #cosmos:hover, #foguete:hover {
    width: 300px;
    
} 

footer {
    display: grid;
    background-color:#202020;
    border: #F47D1F;
    padding-bottom: 15px;
}

hr {
    background-color: #F47D1F;
    border: none;
    height: 2px;
}




@media (max-width:750px) {

    .body {
        background-color: #202020;

    }

    
    .icone-e-texto {
        
        background-color: #202020;
        display: flex;
        align-items: center;
        justify-content: stretch;
        
    }
    
     #logo {
        width: 7vh;
        margin: 30px;
        
    }

    .boxVideo > iframe {
        
        /* width: 100vw;
        height: 363px; */
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    #pesquisa {
        
        padding: 10px;
        font-size: 30px;
        border-color: #000000;
        background-color: #000000;
        color: #ffffff;
        border-style: solid;
        border-radius: 30px;
        justify-content: center;
        width: 50vw;
        
    }

    .container2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 12,5vh 12,5vh 12,5vh 12,5vh 12,5vh 12,5vh 12,5vh 12,5vh;
        grid-row-start: 1;
        grid-row-end: 8;
        place-items: center;

    }

     footer {
        /* display: grid;
        background-color:#202020;
        border: #F47D1F;
        padding-bottom: 15px;
        place-items: auto;
        margin-bottom: 1000px; */
        display: none;
    }
/*
    #irlanda, #vermelhos, #tinta, #praia, #nebli, #coelho, #cosmos, #foguete {
        width: 290px;
        text-decoration: none;
        margin: 50px;
        background-color: #202020;
        display: block;
    }  */


  }